/*** Main View ***/
/* Modules */
.dsti-admin-blue-bg {
    background-color: rgb(45, 62, 80);
}
.dsti-blue-bg {
    background-color: rgb(58, 80, 104);
}
.dsti-orange-bg {
    background-color: rgb(188, 104, 47);
}
.dsti-orange-text {
    color: rgb(188, 104, 47);
}
.dsti-orange-bg-active {
    background-color: rgb(203, 128, 73);
}
.dsti-grey-bg {
    background-color: rgb(221, 221, 221);
}
.dsti-white-bg {
    background-color: white;
}
.dsti-dark-grey-bg {
    background-color: rgb(128, 128, 128);
}
.dsti-red-bg {
    background-color: rgb(194, 97, 88);
}
.dsti-teal-bg {
    background-color: rgb(121, 163, 167);
}
.dsti-green-bg {
    background-color: rgb(139, 151, 106);
}

/* helpers */
.outer {
    position: relative; /* or absolute */
    /* unnecessary styling properties */
    margin: 3%;
    width: 96%;
    border: 1px solid red;
}

.inner {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* unnecessary styling properties */
    width: 50%;
    height: 50%;
    text-align: center;
}

.main-menu {
}
.main-menu-large {
    height: 125px;
}
.main-menu-medium {
    height: 95px;
}
.main-menu-small {
}

.admin-menu {
    height: 100%;
    width: 100%;
    border-right: solid  rgb(221, 221, 221);
    border-bottom: solid  rgb(221, 221, 221);
    border-width: 1px;
}
.admin-menu-large {
}
.admin-menu-medium {
}
.admin-menu-small {
}

.sub-main-menu {
}
.sub-main-menu-large {
    height: 50px;
}
.sub-main-menu-medium {
    height: 50px;
}
.sub-main-menu-small {
    display: none;
}

.vertical-slider {
    /* background-color: green; */
}
.vertical-slider-large {
    height: 494px;
}
.vertical-slider-medium {
    height: 500px;
}
.vertical-slider-small {
    height: 200px;
}
.vertical-slider-middle {
    position: relative;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    width: 97%;
    height: 96%;
    text-align: center;
    background-color: white;
}
.vertical-slider-middle-small {
    top: 50%;
    width: 100%;
    height: 100%;
}
.search-bar {
    /* background-color: chartreuse; */
}
.search-bar-large {
    height: 150px;
}
.search-bar-medium {
    height: 100px;
}
.search-bar-middle {
    position: relative;
    left: 49%;
    top: 48%;
    transform: translate(-50%, -50%);
    width: 96%;
    height: 65%;
    text-align: center;
    background-color: white;
}
.search-bar-middle-medium {
    top: 55%;
    width: 94%;
    height: 90%;
}

.quick-links {
    /* background-color: darkgoldenrod; */
}
.quick-links-large {
    height: 380px;
}
.quick-links-medium {
    display: none;
}
.quick-links-small {
    display: none;
}
.quick-links-middle {
    position: relative;
    left: 49%;
    top: 43%;
    transform: translate(-50%, -50%);
    width: 96%;
    height: 93%;
    text-align: center;
    background-color: white;
}

.event-log {
    /* background-color: forestgreen; */
}
.event-log-large {
    height: 150px;
}
.event-log-medium {
    height: 300px;
}
.event-log-small {
    height: 150px;
}
.event-log-middle {
    position: relative;
    left: 52%;
    top: 52%;
    transform: translate(-50%, -50%);
    /* unnecessary styling properties */
    width: 95%;
    height: 90%;
    text-align: center;
    /* border: 1px solid blue; */
    background-color: white;
}
.event-log-middle-medium {
    left: 51%;
    top: 48%;
    width: 97%;
    height: 95%;
}
.event-log-middle-small {
    position: relative;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 95%;
}

.employee-slider {
    /* background-color: rgb(170, 28, 99); */
}
.employee-slider-large {
    height: 150px;
}
.employee-slider-medium {
    height: 150px;
}
.employee-slider-small {
    height: 150px;
}
.employee-slider-middle {
    position: relative;
    left: 52%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 90%;
    text-align: center;
    background-color: white;
}
.employee-slider-middle-medium {
    left: 49%;
    top: 50%;
    width: 94%;
    height: 96%;
}
.employee-slider-middle-small {
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
}

.recent-log {
    /* background-color: slategray; */
}
.recent-log-large {
    height: 300px;
}
.recent-log-medium {
    height: 310px;
}
.recent-log-small {
    height: 200px;
}
.recent-log-middle {
    position: relative;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    text-align: center;
    background-color: white;
}
.recent-log-middle-medium {
    left: 51%;
    top: 50%;
    width: 97%;
    height: 95%;
}
.recent-log-middle-small {
    top: 50%;
    width: 100%;
}

.im { /* Instant Message*/
   /* background-color: darkcyan; */
}
.im-large { /* Instant Message*/
    height: 300px;
}
.im-medium { /* Instant Message*/
    height: 375px;
}
.im-middle {
    position: relative;
    left: 49%;
    top: 51%;
    transform: translate(-50%, -50%);
    width: 96%;
    height: 95%;
    text-align: center;
    background-color: white;
}
.im-middle-medium {
    top: 50%;
    width: 94%;
    height: 96%;
}

.spa {
    /* background-color: teal; */
}
.spa-large {
    height: 500px;
}
.spa-medium {

}
.spa-small {

}
.spa-middle {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    height: 98%;
    text-align: center;
    background-color: white;
}

.tool-menu {
    /* background-color: yellow; */
}
.tool-menu-large {

}
.tool-menu-medium {

}
.tool-menu-small {

}
.tool-menu-middle {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    height: 98%;
    text-align: center;
    background-color: white;
}

.footer-menu {
    background-color: darkcyan;
    border: solid black;
}
.footer-menu-large {
    height: 150px;
}
.footer-menu-medium {
    height: 150px;
}
.footer-menu-smalll {
    height: 75px;
}

.ribbon {
    border-top: solid  rgb(189, 104, 47);
    border-top-width: 5px;
}

.mydsti-logo {
    /* background-color: darkorange; */
    background-image: url("../mydstilogo.jpg");
    background-repeat: none;
}
.mydsti-logo-large {
    width: 150px;
    height: 55px;;
    margin-right: 50px;
}
.mydsti-logo-medium {
    width: 150px;
    height: 55px;;
    margin-right: 50px;
}
.mydsti-logo-small {
    width: 75px;
    height: 20px;;
}

.right {
    float: right;
}

.upper-or-lower-toggle {
    text-transform: uppercase;
}

.vue-back-to-top {
    padding: 5px;
    border-radius: 8%;
    background-color: grey;
    color: white;
}

.default {
    display:none;
}


  nav.navbar {
    padding: 0px;
  }